.top-menu {
  padding: 15px 20px;
  color: #fff;
  background-color: #2c3339;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    li {
      margin-left: 1rem;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
